body {
  display: flex;
  flex-direction: column;
}

main {
  flex-grow: 1;
}

.container {
  max-width: 1200px;
  height: 100%;
  margin: 0 auto;
  padding: 28px;
}

header .container {
  padding: 36px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
}

nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 4px;
}
nav ul li {
  margin: 12px;
}

footer {
  padding: 12px;
}
