.title-xl {
  font-size: 2rem;
}
.title-lg {
  font-size: 1.75rem;
  margin-bottom: 12px;
}
.title-md {
  font-size: 1.5rem;
}
.title-sm {
  font-size: 1.25rem;
  margin-bottom: 8px;
}

.text-lg {
  font-size: 1.25rem;
}
.text-cursive {
  font-size: 1rem;
  font-style: italic;
}
.text-sm {
  font-size: 0.875rem;
}

@media (min-width: 480px) {
  .title {
    margin-bottom: 20px;
  }
}
@media (min-width: 768px) {
  .title-xl {
    font-size: 2.25rem;
  }
  .title {
    font-size: 2rem;
    margin-bottom: 32px;
  }
  .title-md {
    font-size: 1.75rem;
  }
  .title-sm {
    font-size: 1.5rem;
    margin-bottom: 12px;
  }

  .text-lg {
    font-size: 1.5rem;
  }
  .text-cursive {
    font-size: 1.125rem;
  }
}
